@inject SolutionExecutionService SolutionExecutor

<textarea @bind="Code" class="textbox"></textarea>

<div class="buttonContainer">
	<button @onclick="OnSubmit" class="submitButton">Submit</button>
</div>

@code {
	[Parameter]
	public string Id { get; set; }

	private string Code;

	private async void OnSubmit()
	{
		await SolutionExecutor.CheckSolution(Code);
	}
}
