<div class="@Width">
	@if (IsOpponents)
	{
		<h2 class="@DisplayNone">Opponents' Output</h2>
		<div>
			<button type="button" class="close" aria-label="Close" @onclick="ToggleClose">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	}
	else
	{
		<h2>Your Output</h2>
	}
	<br />
	<textarea class="console-output @Width @DisplayNone" readonly>@Messages.ToString()</textarea>
</div>

@code {
	[Parameter]
	public bool IsOpponents { get; set; }

	private StringBuilder Messages { get; set; }

	private string Width = "w-100";
	private string DisplayNone = string.Empty;

	protected override void OnInitialized()
	{
		Messages = new StringBuilder();
	}

	public void AddMessage(string message)
	{
		Messages.Append(message);
		StateHasChanged();
	}

	private void ToggleClose()
	{
		Width = Width == "w-0" ? "w-100" : "w-0";
		DisplayNone = DisplayNone == string.Empty ? "d-none" : string.Empty;

		StateHasChanged();
	}
}
