@using System.Timers
@using Microsoft.AspNetCore.SignalR.Client

<div class="round">
	<p>Round @currentRound</p>
</div>

<div class="timer">
	<p>@convertTime(_secondsRemaining)</p>
</div>

<div class="players">
	<img class="playerIcon" src="/img/test_image.png" height="50px" width="50px">
	<img class="playerIcon" src="/img/test_image.png" height="50px" width="50px">
	<img class="playerIcon" src="/img/test_image.png" height="50px" width="50px">
	<img class="playerIcon" src="/img/test_image.png" height="50px" width="50px">
	<img class="playerIcon" src="/img/test_image.png" height="50px" width="50px">
</div>

<div class="d-flex w-100 justify-content-around">
	<CodeBlock UserId="@Connection.ConnectionId" @ref="codeBlock"></CodeBlock>
	<div class="problem-description">
		@if (_problem != null)
		{
			@GetProblemDescription()
		}
	</div>
</div>

<div class="d-flex justify-content-center">
	<ConsoleOutput @ref="yourOutput"></ConsoleOutput>

	<ConsoleOutput IsOpponents="true" @ref="opponentOutput"></ConsoleOutput>
</div>

@code {
	[Parameter]
	public HubConnection Connection { get; set; }

	private int _secondsRemaining;
	private Timer timer;
	private int currentRound;
	private int _numberOfPlayersToAdvance;
	private Problem _problem;

	private CodeBlock codeBlock;
	private ConsoleOutput yourOutput;
	private ConsoleOutput opponentOutput;

	// Converts seconds to 0:00 format
	private string convertTime(int seconds)
	{
		string minutesLeft = (seconds / 60).ToString();
		string secondsLeft = (seconds % 60).ToString("00");
		return minutesLeft + ":" + secondsLeft;
	}

	protected override void OnInitialized()
	{
		Connection.On<string, int, string>("ReceiveExecutionResults",
			(submittedUser,
			timeSubmitted,
			output) =>
			{
				if (submittedUser.Equals(Connection.ConnectionId))
				{
					yourOutput.AddMessage($"{timeSubmitted} {output}\n");
				}
				else
				{
					if (Lobby.Players.TryGetValue(submittedUser, out string userName))
					{
						opponentOutput.AddMessage($"{userName} {timeSubmitted} {output}\n");
					}
				}

				StateHasChanged();
			});

		Connection.On<int, int, int, Problem>("ReceiveNextRound",
			(roundNumber,
			numberOfPlayersToAdvance,
			secondsRemaining,
			problem) =>
			{
				currentRound = roundNumber;
				_numberOfPlayersToAdvance = numberOfPlayersToAdvance;
				_secondsRemaining = secondsRemaining;
				_problem = problem;
				codeBlock.SetProblemInfo(_problem.ProblemId, _problem.InputVariables);
				StateHasChanged();
				SetTimer();
			});

		Connection.On("ReceiveEndGame", () =>
		{
			Connection.InvokeAsync("SendNextRound", currentRound + 1, _numberOfPlayersToAdvance - 1);
		});
	}

	private MarkupString GetProblemDescription()
	{
		return (MarkupString)_problem.Description;
	}

	private void SetTimer()
	{
		timer = new Timer(1000);
		timer.Elapsed += OnTimer;
		timer.Enabled = true;
		timer.AutoReset = true;
	}

	private void OnTimer(Object source, ElapsedEventArgs e)
	{
		if (_secondsRemaining <= 0)
		{
			timer.Stop();
			return;
		}

		_secondsRemaining -= 1;
		InvokeAsync(StateHasChanged);
	}
}
