.CodeMirror {
	margin: auto;
}

.buttonContainer {
	position: relative;
	text-align: right;
	margin-left: auto;
	bottom: 64px;
	right: 10px;
}

.submitButton {
	background-color: #008CBA;
	border: none;
	padding: 15px 32px;
	font-size: 16px;
}
