.timer {
	margin-right: 5%;
	font-size: 25px;
	float: right
}

.playerIcon {
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

.players {
	text-align: center;
	margin: auto;
	width: 50%;
}

.lobby {
	text-align: center;
}

.round {
	margin-left: 5%;
	font-size: 25px;
	float: left
}

.problem-description {
	margin-top: 25px;
	max-height: 500px;
	overflow-y: scroll;
	padding: 16px;
}

pre {
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.outputBox {
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	border-radius: 2px;
	height: 300px;
	width: 35%;
	padding: 20px;
	margin-bottom: 25px;
}

#playerOutput {
	float: left;
	margin-left: 10%
}

#opponentOutput {
	float: right;
	margin-right: 10%
}

.playerName {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.playerInitial {
	font-family:"Copperplate Gothic";
	margin: 15px;
	position: relative;
}

.playerInitial .playerName {
		width: 100px;
		bottom: 100%;
		left: 50%;
		margin-left: -60px;
		visibility: hidden;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		/* Position the tooltip */
		position: absolute;
		z-index: 1;
}

.playerInitial:hover .playerName {
		visibility: visible
}

.circle {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	background-color: #bbb;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	text-align: center;
}
